<section data-ng-controller="TestController">
	
    <nvd3-line-chart
        data="exampleData"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
    </nvd3-line-chart>

    <div class="gridStyle" ng-grid="gridOptions"></div>


    <nvd3-pie-chart
        data="exampleDataForPieChart"
        width="500"
        height="500"
        id="exampleId"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        pieLabelsOutside="false"
        showValues="true"
        labelType="percent">
            <svg></svg>
    </nvd3-pie-chart>
</section>